.container
  .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') SNS爬虫平台
          .nav-collapse
            ul.nav
              li
                a(href='console') 控制台
              li
                a(href='query') 查询数据
          // /.nav-collapse
      // /navbar-inner
