.container
   h2= '模块状态'
   .lead= bundles['status']
   table.table.table-striped.table-bordered.table-condensed
     thead
       tr
         -for(key in bundles['data'][0])
          if(key != 'stateRaw' && key != 'fragment' && key != 'symbolicName' && key != 'category')
             th= key
     tbody
      -for (id in bundles['data'])
       tr
         -for(key in bundles['data'][id])
            if(key != 'stateRaw' && key != 'fragment' && key != 'symbolicName' && key != 'category')
              td= bundles['data'][id][key]
         td
           .dropdown
             a.dropdown-toggle(href='#', data-toggle='dropdown')
               | Action
               b.caret
             ul.dropdown-menu
               li.nav-header Switch state
               li
                 a(href='/console/start?id=' + bundles['data'][id]['id']) Start
               li
                 a(href='/console/stop?id=' + bundles['data'][id]['id']) Stop
               li.divider
               li.nav-header Nav header
               li
                 a(href='#') Separated link
               li
                 a(href='#') One more separated link