script(src='public/docs/jquery-1.8.0.js')
script(src='public/docs/bootstrap-tooltip.js')
script(src='public/docs/bootstrap-alert.js')
script(src='public/docs/bootstrap-button.js')
script(src='public/docs/bootstrap-carousel.js')
script(src='public/docs/bootstrap-collapse.js')
script(src='public/docs/bootstrap-dropdown.js')
script(src='public/docs/bootstrap-modal.js')
script(src='public/docs/bootstrap-popover.js')
script(src='public/docs/bootstrap-scrollspy.js')
script(src='public/docs/bootstrap-tab.js')
script(src='public/docs/bootstrap-transition.js')
script(src='public/docs/bootstrap-typeahead.js')
script(src='public/docs/jquery.validate.js')
script(src='public/docs/jquery.validate.unobtrusive.js')
script(src='public/docs/jquery.unobtrusive-ajax.js')
script(src='public/docs/metro-bootstrap/metro-docs.js')
