table.table.table-striped.table-bordered.table-condensed
 thead
  tr
     th key
     th timeline
 tbody
  -for (key in value)
   tr
     td= key
     td
      table.table.table-striped.table-bordered.table-condensed
       -for (attr in value[key])
        -if(attr == 'data')
        -for (info in value[key][attr])
         -if(info == 'info')
          -for (line in value[key][attr][info])
           tr
            -for (weibo in value[key][attr][info][line])
              -if(weibo == 'text')
                td= value[key][attr][info][line][weibo]
              -if(weibo == 'id')
                td= value[key][attr][info][line][weibo]
