<div id="uploadDialog" class="well"  style="display: block; height: auto; min-height: 57px; ">
  <form method="post"  enctype="multipart/form-data" action="http://felix.torchz.net:8080/system/console/bundles" target="uploadcallback">
    <table>
      <tbody>
	<tr>
	  <td><span class="label label-info" style="width:71px">Start Bundle</span></td>
	  <td>
	    <input type="hidden" name="action" value="install" >
	    <input type="checkbox" name="bundlestart" value="start">
	  </td>
	</tr>
	<tr>
	  <td><span class="label label-info" style="width:71px">Start Level</span></td>
	  <td><input type="text" name="bundlestartlevel" id="bundlestartlevel" value="1" size="4"></td>
	</tr>
	<tr>
	  <td>
	    <div id="MultiFile1_wrap">
	      <input accept="jar|war"
		     type="file"
		     name="bundlefile">
	      <div class="MultiFile-list" 
		   id="MultiFile1_wrap_list">
	      </div>
	    </div>
	  </td>
	  <td>
	    <INPUT class="btn btn-primary" type="submit"
	    onclick="submit()">
	    <INPUT class="btn btn-inverse" type="reset">
	  </td>
	</tr>
      </tbody>
    </table>
  </form>
</div>
<iframe name="uploadcallback" id="uploadcallback" style="width:0px;height:0px;border:0px;"></iframe>
